@font-face {
  font-family: "Agency-FB-Bold";
  src: local("AGENCYB"),
    url("./fonts/Agency/AGENCYB.TTF") format("truetype");
  font-weight: bold;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Fontit */
  --font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-family-heading: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-family-token: "Agency-FB-Bold"

  /* Fonttikoot */
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-large: 20px;
  --font-size-xlarge: 24px;

  /*Light theme colors (default)*/
  /*Text colors*/
  --text-primary: #000000; 
  --text-secondary: #ffffff; 

  /*Background colors*/
  --background-primary: #f5f8fd;
  --background-secondary: #f7d9f8;
  --backgound-secondary: #424549;

  /*Accent colors*/
  --accent-primary: #ffffff;
  --accent-secondary: #df82c3; 
  --accent-tertiary: #1E2124;
}

/* Dark theme colors */
.dark-theme {
  /*Text colors*/
  --text-primary: #ffffff; 
  --text-secondary: #ffffff; 

  /*Background colors*/
  --background-primary: #424549;
  --background-secondary: #a3a3a3;
  --background-tertiary: #d3d0d0;

  /*Accent colors*/
  --accent-primary: #bd6ab6;
  --accent-secondary: #E1A9D0; 
  --accent-tertiary: #C2AFBB;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: var(--background-primary);
}

body.mobile {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0.2rem;
  text-align: center;
  background-color: var(--background-primary);
  padding-bottom: 80px; /*Mobiilissa pääsee scrollaamaan hieman yli*/
}

